<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582455528652-advvemfsj3ekq6nef0i0p51bluvcpq4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582455528652-advvemfsj3ekq6nef0i0p51bluvcpq4d</string>
	<key>API_KEY</key>
	<string>AIzaSyB3OjuqMivj7yhkICDpOWhYYt2hFvPQCwU</string>
	<key>GCM_SENDER_ID</key>
	<string>582455528652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.charyadiamond</string>
	<key>PROJECT_ID</key>
	<string>charyadiamond</string>
	<key>STORAGE_BUCKET</key>
	<string>charyadiamond.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582455528652:ios:3be521633dab10d3c7c669</string>
</dict>
</plist>